.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}
.service {
  height: 460px;
  width: 410px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.service img {
  width: 100%;
  height: 350px;
}
.booking {
  display: flex;
  justify-content: center;
}
@media (max-width: 650px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #services {
    margin-top: -200px;
  }
}
