@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.each-section {
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
/* a public stylesheet to apply the width of a section */
