.banner {
  background-image: url("https://i.ibb.co/zQQYP6w/carousel-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.introduction {
  background-color: rgba(244, 238, 238, 0.7);
  width: 500px;
  position: absolute;
  top: 150px;
  left: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
