@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #fff;
}
.navlink a {
  margin: 0 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.title {
  font-family: "Updock", cursive;
  font-size: 60px;
  font-weight: 500;
}
@media only screen and (max-width: 650px) {
  .start {
    display: none;
  }
  .end {
    display: none;
  }
  .navbar {
    margin-top: 50px;
  }
}
