.subs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subs .subs-image {
  width: 50%;
}
.subs .subs-image img {
  width: 100%;
}

.subs-div .subs-details {
  width: 50%;
}
.subs .subs-details h3 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 0;
  width: 100%;
}
.subs .subs-details p {
  margin-top: 0;
  font-size: 16px;
  width: 100%;
}
.subs .subs-details input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid black;
}

.subs .subs-details button {
  width: 170px;
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 650px) {
  .subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subs .subs-image {
    width: 100%;
  }
  .subs .subs-image img {
    width: 100%;
  }
  .subs-div .subs-details {
    width: 80%;
  }
  .subs .subs-details input {
    text-align: center;
  }
}
